<div>
    <h1>Select player types:</h1>

    <div class="row">

        <form class="col-md-5 form-group">
            <div class="form-group">
                <h3>Player One</h3>
            </div>

            <div class="form-group">
                <select>
                    <option value="volvo">Human</option>
                    <option value="volvo">Computer</option>
                </select>
            </div>


            <div class="form-group">
                <input type="email" class="form-control"  placeholder="Player One name">
            </div>
        </form>


        <div class="col-md-2">
            <h1>Vs</h1>
        </div>

        <form class="col-md-5 form-group">
            <div class="form-group">
                <h3>Player Two</h3>
            </div>

            <div class="form-group">
                <select>
                    <option value="volvo">Human</option>
                    <option value="volvo">Computer</option>
                </select>
            </div>


            <div class="form-group">
                <input type="email" class="form-control"  placeholder="Player Two name">
            </div>
        </form>


    </div>
    <div class="row">
        <a href="#/player-one" class="btn btn-primary" role="button">Next</a>
    </div>
</div>